/*TODO*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

ul {
    list-style-type: none;
}


p {
    font-size: 1.8em;
}


img {
    width: 100%;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
}



/*HEADER*/
header {
    background-color: rgb(54, 54, 54);
    padding: 36px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo {
    max-width: 300px;
}

.navbar__menu {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #fff;
}

.navbar__link {
    font-size: 20px;
    color: #fff;
    padding: 8px 16px;
    display: inline-block;
    transition: background 0.3s ease-in-out;
    position: relative;
    
}

.navbar__link:hover {
    background-color: crimson;
}


.with-icon {
    max-width: flex;
    align-items: center;
    gap: 8px;
}

.with-submenu:hover .submenu {
    display: block;
}


.submenu {
    display: none;
    width: 300px;
    position: absolute;
    background-color: rgb(54, 54, 54);
    z-index: 3;
}

.submenu__link {
    display: block;
    padding: 8px 16px;
    font-size: 20px;
    transition: background 0.3s ease-in-out;
}

.submenu__link:hover {
    background-color: crimson;
}


/*HERO*/
.hero {
    background-image: url(../img/funkos-banner.webp);
    padding: 128px;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.hero::before {
    content: '';
    background-color: rgba(0,0,0,0);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px) brightness(.9);
}

.hero__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    z-index: 2;
    position: relative;
}

.hero__title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 38px;
    color: #fff;
}

.hero__text {
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    font-size: 20px;
}

.hero__link {
    display: inline-block;
    font-size: 20px;
    background-color: aliceblue;
    padding: 12px 68px;
    border-radius: 50px;
    font-weight: 500;
    transition: all .3s ease-in-out;
}

.hero__link:hover {
    background-color: crimson;
    color: #fff;
}


/*COLLECTIONS*/
.collection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    pad: 16px 0;
}


.collection:nth-child(2) .collection__cover {
    order: -1;
}


.collection__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: start;
}

.collection__title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-weight: 500;
}

.collection__text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 200;
    border-bottom: 2px solid;
    padding-bottom: 20px;
}

.collection__link {
    display: inline-block;
    font-size: 18px;
    background-color: #000;
    color: #fff;
    padding: 16px 36px;
    border-radius: 50px;
    font-weight: 500;
    transition: background 0.3s ease-in-out;
}

.collection__link:hover {
    background-color: crimson;
}


/*SLIDER*/
.slider {
    display: flex;
    flex-direction: column;
    gap: 36px;
    margin: 68px auto;
}

.slider__title {
    font-family: 'Franklin', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
}

.slider__items {
    display: flex;
    gap: 24px;
}


.card-item__cover {
    display: flex;
    position: relative;
}

.card-item__tag {
    font-size: 14px;
    text-transform: uppercase;
    background-color: crimson;
    color: #fff;
    padding: 8px 12px;
    position: absolute;
    right: 0;
}

.card-item__cover img {
    animation: fade .7s;
}

.card-item__img--back {
    display: none;
}

.card-item__cover:hover .card-item__img--back {
    display: block;
}

.card-item__cover:hover .card-item__img--front {
    display: none;
}

.card-item__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
}

.card-item__licence {
    font-size: 14px;
    font-weight: 500;
}

.card-item__name {
    font-size: 22px;
    font-weight: 700;
}

.card-item__price {
    font-size: 14px;
}

.card-item__promo {
    font-size: 14px;
    color: turquoise;
    font-weight: 700;
}



/*FOOTER*/
.footer {
    background-color: rgb(54, 54, 54);
    padding: 68px;
}


.footer__copy {
    font-size: 14px;
    margin-top: 36px;
    text-align: center;
    color: #fff;
}



/*ANIMACIONES*/
@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



